/* GENERAL STYLING */
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2::before {
    content: url("https://raw.githubusercontent.com/meyichi/roll20-daggerheart-sheet/refs/heads/master/Daggerheart_Header_Left.png");
    height: 25px;
    padding-bottom: 3px;
}

h2::after {
    content: url("https://raw.githubusercontent.com/meyichi/roll20-daggerheart-sheet/refs/heads/master/Daggerheart_Header_Right.png");
    height: 25px;
    padding-bottom: 3px;
}

h4 {
    text-decoration: underline;
}

.centered {
    text-align: center;
}

.subtext {
    font-size: 10px;
}

input[type=text] {
    width: 100%;
}

textarea {
    margin-bottom: 0px;
}

select {
    width: 100%;
    margin-bottom: 0px;
}

div {
    margin-top: 5px;
}

.no-top {
    margin-top: 0px;
}

.margin-left {
    margin-left: 5px;
}

.margin-right {
    margin-right: 5px;
}

select > option[disabled="true"] {
    font-style: italic;
    font-weight: bold;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    width:15px;
    cursor: pointer;
    z-index: 1;
    margin-top: 6px;
}
  
input[type="radio"] + span::before {
    border: solid 1px #a8a8a8;
    line-height: 13px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
    content: "•";
    width: 12px;
    height: 12px;
    font-size: 36px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
  
input[type="radio"]:checked ~ input[type="radio"] + span::before {    
    content: "";
}

input[type=radio].sheet-zero:checked + span::before {
    opacity: 0;
}

input[type=radio].sheet-zero:hover + span::before {
    opacity: 1;
}

input[type=radio].sheet-zero + span::before {
    font-size: 16px;
    content: "✖";
    opacity: 0.25;
}

.fake-checkbox {
    padding: 0;
    border: solid 1px #a8a8a8;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

input.toggle[value="hidden"] + button.fake-checkbox {
    display: none;
}

input.toggle:not([value="active"]) + button.fake-checkbox > span.checked {
    color: transparent;
}

.toggle-group {
    display: flex;
    justify-content: center;
}

/* LAYOUT STYLING */
.charsheet {
    background-image: url(https://raw.githubusercontent.com/meyichi/roll20-daggerheart-sheet/refs/heads/master/Daggerheart_Background_Top.png);
    background-repeat: no-repeat;
    min-width: 835px;
    padding-top: 5px !important;
}

/* HEADER STYLING */
.header-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: ". header-name-label header-name-input header-name-input header-name-input . . header-player-label header-player-input header-player-input header-player-input ."
        ". header-ancestry-label header-ancestry-input header-ancestry-input header-ancestry-input . . header-community-label header-community-input header-community-input header-community-input ."
        ". header-class-label header-class-input header-class-input header-level . . header-subclass-label header-subclass-input header-subclass-input header-subclass-input .";
    margin-bottom: 10px;
}

.header-name-label {
    grid-area: header-name-label;
    height: 85%;
    display: flex;
    align-items:center;
}

.header-name-input {
    grid-area: header-name-input;
    padding-left: 5px;
}

.header-player-label {
    grid-area: header-player-label;
    height: 85%;
    display: flex;
    align-items:center;
}

.header-player-input {
    grid-area: header-player-input;
    padding-left: 5px;
}

.header-ancestry-label {
    grid-area: header-ancestry-label;
    height: 85%;
    display: flex;
    align-items:center;
}

.header-ancestry-input {
    grid-area: header-ancestry-input;
    padding-left: 5px;
}

.header-community-label {
    grid-area: header-community-label;
    height: 85%;
    display: flex;
    align-items:center;
}

.header-community-input {
    grid-area: header-community-input;
    padding-left: 5px;
}

.header-class-label {
    grid-area: header-class-label;
    height: 85%;
    display: flex;
    align-items:center;
}

.header-class-input {
    grid-area: header-class-input;
    padding-left: 5px;
}

.header-level {
    grid-area: header-level;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.header-level-input {
    margin-left: 5px;
}

.header-subclass-label {
    grid-area: header-subclass-label;
    height: 85%;
    display: flex;
    align-items:center;
}

.header-subclass-input {
    grid-area: header-subclass-input;
    padding-left: 5px;
}

/* RESET STYLING */
.reset-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: ". reset-short-rest-button . reset-long-rest-button . reset-session-button .";
    margin-top: 11px;
}

.reset-container button {
    border: 1px solid black;
    border-radius: 3px;
}

.reset-short-rest-button {
    grid-area: reset-short-rest-button;
}

.reset-long-rest-button {
    grid-area: reset-long-rest-button;
}

.reset-session-button {
    grid-area: reset-session-button;
}

/* TRAITS STYLING */
.traits-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: ". . traits-header traits-header . ."
        "traits-agility-label traits-strength-label traits-finesse-label traits-instinct-label traits-presence-label traits-knowledge-label"
        "traits-agility-input traits-strength-input traits-finesse-input traits-instinct-input traits-presence-input traits-knowledge-input"
        "traits-agility-roll traits-strength-roll traits-finesse-roll traits-instinct-roll traits-presence-roll traits-knowledge-roll";
    margin-bottom: 10px;
}

.traits-header {
    grid-area: traits-header;
    text-align: center;
}

.traits-agility-label {
    grid-area: traits-agility-label;
    text-align: center;
}

.traits-strength-label {
    grid-area: traits-strength-label;
    text-align: center;
}

.traits-finesse-label {
    grid-area: traits-finesse-label;
    text-align: center;
}

.traits-instinct-label {
    grid-area: traits-instinct-label;
    text-align: center;
}

.traits-presence-label {
    grid-area: traits-presence-label;
    text-align: center;
}

.traits-knowledge-label {
    grid-area: traits-knowledge-label;
    text-align: center;
}

.traits-agility-input {
    grid-area: traits-agility-input;
    text-align: center;
}

.traits-strength-input {
    grid-area: traits-strength-input;
    text-align: center;
}

.traits-finesse-input {
    grid-area: traits-finesse-input;
    text-align: center;
}

.traits-instinct-input {
    grid-area: traits-instinct-input;
    text-align: center;
}

.traits-presence-input {
    grid-area: traits-presence-input;
    text-align: center;
}

.traits-knowledge-input {
    grid-area: traits-knowledge-input;
    text-align: center;
}

.duality-roll {
    background-color: transparent;
    background-image: url(https://raw.githubusercontent.com/meyichi/roll20-daggerheart-sheet/refs/heads/master/Daggerheart_Duality.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    border: none;
}

.traits-agility-roll {
    grid-area: traits-agility-roll;
    text-align: center;
}

.traits-strength-roll {
    grid-area: traits-strength-roll;
    text-align: center;
}

.traits-finesse-roll {
    grid-area: traits-finesse-roll;
    text-align: center;
}

.traits-instinct-roll {
    grid-area: traits-instinct-roll;
    text-align: center;
}

.traits-presence-roll {
    grid-area: traits-presence-roll;
    text-align: center;
}

.traits-knowledge-roll {
    grid-area: traits-knowledge-roll;
    text-align: center;
}

/* RESOURCES STYLING */
.resources-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: ". . . . resources-header resources-header resources-header resources-header . . . ."
    ". evasion-label . . armor-label . . hp-max-label . . stress-max-label ."
    ". evasion-input . . armor-input . . hp-max-input . . stress-max-input ."
    ". . . . . spacer spacer . . . . . "
    "hp-container hp-container hp-container . weapons-container weapons-container weapons-container weapons-container . hope-container hope-container hope-container";
    margin-bottom: 10px;
}

.resources-header {
    grid-area: resources-header;
    text-align: center;
}

.evasion-label {
    grid-area: evasion-label;
    text-align: center;
}

.armor-label {
    grid-area: armor-label;
    text-align: center;
}

.hp-max-label {
    grid-area: hp-max-label;
    text-align: center;
}

.stress-max-label {
    grid-area: stress-max-label;
    text-align: center;
}

.evasion-input {
    grid-area: evasion-input;
    text-align: center;
}

.armor-input {
    grid-area: armor-input;
    text-align: center;
}

.hp-max-input {
    grid-area: hp-max-input;
    text-align: center;
}

.stress-max-input {
    grid-area: stress-max-input;
    text-align: center;
}

.resources-spacer {
    grid-area: spacer;
    height: 12px;
}

/* HP STYLING */
.hp-container {
    grid-area: hp-container;
}

.hp-thresholds {
    grid-area: hp-thresholds;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "hp-thresholds-label hp-thresholds-label hp-thresholds-label hp-thresholds-label hp-thresholds-label hp-thresholds-label hp-thresholds-label hp-thresholds-label"
    "hp-thresholds-minor-label hp-thresholds-minor-label hp-thresholds-major-input hp-thresholds-major-label hp-thresholds-major-label hp-thresholds-severe-input hp-thresholds-severe-label hp-thresholds-severe-label"
}

.hp-thresholds-label {
    grid-area: hp-thresholds-label;
    text-align: center;
}

.hp-thresholds-minor-label {
    grid-area: hp-thresholds-minor-label;
    text-align: center;
}

.hp-thresholds-major-input {
    grid-area: hp-thresholds-major-input;
}

.hp-thresholds-major-label {
    grid-area: hp-thresholds-major-label;
    text-align: center;
}

.hp-thresholds-severe-input {
    grid-area: hp-thresholds-severe-input;
}

.hp-thresholds-severe-label {
    grid-area: hp-thresholds-severe-label;
    text-align: center;
}

.hp-slots-container {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* WEAPONS CONTAINER STYLING */
.weapons-container {
    grid-area: weapons-container;
    padding-right: 3px;
}

.weapons-primary-secondary {
    grid-area: weapons-primary;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "weapons-primary-label weapons-primary-label weapons-primary-label weapons-primary-label"
    "weapons-primary-input weapons-primary-input weapons-primary-range-input weapons-primary-trait"
    "weapons-primary-hit weapons-primary-damage weapons-primary-damage weapons-primary-damage"
    "weapons-secondary-label weapons-secondary-label weapons-secondary-label weapons-secondary-label"
    "weapons-secondary-input weapons-secondary-input weapons-secondary-range-input weapons-secondary-trait"
    "weapons-secondary-hit weapons-secondary-damage weapons-secondary-damage weapons-secondary-damage";
}

.weapons-primary-label {
    grid-area: weapons-primary-label;
    text-align: center;
}

.weapons-primary-input {
    grid-area: weapons-primary-input;
}

.weapons-primary-range-input {
    grid-area: weapons-primary-range-input;
    text-align: center;
}

.weapons-primary-trait {
    grid-area: weapons-primary-trait;
    text-align: center;
}

.weapons-primary-hit {
    grid-area: weapons-primary-hit;
    margin-bottom: 5px;
}

.weapons-primary-hit-label {
    margin-top: 0px;
    text-align: center;
}

.weapons-primary-hit-input {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weapons-primary-damage {
    grid-area: weapons-primary-damage;
    margin-bottom: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "weapons-primary-damage-label weapons-primary-damage-label weapons-primary-damage-label weapons-primary-damage-label weapons-primary-damage-label weapons-primary-damage-label"
    "weapons-primary-damage-dice weapons-primary-damage-dice weapons-primary-damage-modifier weapons-primary-damage-type weapons-primary-damage-type weapons-primary-damage-type"
}

.weapons-primary-damage-label {
    grid-area: weapons-primary-damage-label;
    margin-top: 0px;
}

.weapons-primary-damage-dice {
    grid-area: weapons-primary-damage-dice;
    margin-top: 0px;
    padding-left: 5px;
}

.weapons-primary-damage-modifier {
    grid-area: weapons-primary-damage-modifier;
    display: flex;
    align-items: center;
    margin-top: 0px;
    padding-right: 3px;
}

.weapons-primary-damage-modifier-input {
    width: 2.5em !important;
}

.weapons-primary-damage-type {
    grid-area: weapons-primary-damage-type;
    display: flex;
    margin-top: 0px;
}

.weapons-primary-damage-type-input {
    margin-right: 5px;
}

.damage-roll {
    background-color: transparent;
    background-image: url(https://raw.githubusercontent.com/meyichi/roll20-daggerheart-sheet/refs/heads/master/Daggerheart_d20.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    border: none;
}

.weapons-secondary-label {
    grid-area: weapons-secondary-label;
    text-align: center;
}

.weapons-secondary-input {
    grid-area: weapons-secondary-input;
}

.weapons-secondary-range-input {
    grid-area: weapons-secondary-range-input;
    text-align: center;
}

.weapons-secondary-trait {
    grid-area: weapons-secondary-trait;
    text-align: center;
}

.weapons-secondary-hit {
    grid-area: weapons-secondary-hit;
    margin-bottom: 5px;
}

.weapons-secondary-hit-label {
    margin-top: 0px;
    text-align: center;
}

.weapons-secondary-hit-input {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weapons-secondary-damage {
    grid-area: weapons-secondary-damage;
    margin-bottom: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "weapons-secondary-damage-label weapons-secondary-damage-label weapons-secondary-damage-label weapons-secondary-damage-label weapons-secondary-damage-label weapons-secondary-damage-label"
    "weapons-secondary-damage-dice weapons-secondary-damage-dice weapons-secondary-damage-modifier weapons-secondary-damage-type weapons-secondary-damage-type weapons-secondary-damage-type"
}

.weapons-secondary-damage-label {
    grid-area: weapons-secondary-damage-label;
    margin-top: 0px;
}

.weapons-secondary-damage-dice {
    grid-area: weapons-secondary-damage-dice;
    margin-top: 0px;
    padding-left: 5px;
}

.weapons-secondary-damage-modifier {
    grid-area: weapons-secondary-damage-modifier;
    display: flex;
    align-items: center;
    margin-top: 0px;
    padding-right: 3px;
}

.weapons-secondary-damage-modifier-input {
    width: 2.5em !important;
}

.weapons-secondary-damage-type {
    grid-area: weapons-secondary-damage-type;
    display: flex;
    margin-top: 0px;
}

.weapons-secondary-damage-type-input {
    margin-right: 5px;
}

/* HOPE CONTAINER STYLING */
.hope-container {
    grid-area: hope-container;
    padding-right: 3px;
}

.hope-experiences-label {
    display: grid;
    grid-template-columns: repeated(3, 1fr);
    grid-template-areas: "hope-experiences-label-description hope-experiences-label-description hope-experiences-label-bonus";
}

.hope-experiences-label-description {
    grid-area: hope-experiences-label-description;
}

.hope-experiences-label-bonus {
    grid-area: hope-experiences-label-bonus;
}

.repcontainer[data-groupname="repeating_experiences"] {
    max-height: 183px;
    overflow-y: auto;
    margin-top: 0px;
}

[data-groupname="repeating_experiences"] .repitem {
    margin-top: 0px;
}

.hope-experiences-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "hope-experiences-input hope-experiences-input hope-experiences-bonus";
}

.hope-experiences-input {
    grid-area: hope-experiences-input;
}

.hope-experiences-bonus {
    grid-area: hope-experiences-bonus;
}

/* TABS STYLING */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.button-domain-features, .button-inventory {
    border: 1px solid black;
    width: 33%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-left: 5%;
    margin-right: 5%;
}

.tabs-toggle:not([value="domain-features"]) ~ div.domain-features-container,
.tabs-toggle:not([value="inventory"]) ~ div.inventory-container {
    display: none;
}

/* DOMAIN & FEATURES STYLING */
.domain-features-container {
    background-image: url(https://raw.githubusercontent.com/meyichi/roll20-daggerheart-sheet/refs/heads/master/Daggerheart_Background_Domain_Features.png);
    background-repeat: no-repeat;
    margin: -10px;
    padding: 10px;
    padding-top: 2px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-areas: "domain-container domain-container domain-container domain-container domain-container domain-container . features-container features-container features-container features-container features-container features-container"
}

/* DOMAIN STYLING */
.domain-container {
    grid-area: domain-container;
}

.domain-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: ". domain-buttons-hand . domain-buttons-all .";
    margin-bottom: 10px;
    margin-top: 10px;
}

.domain-buttons button {
    border: 1px solid black;
    border-radius: 3px;
}

.domain-buttons-hand {
    grid-area: domain-buttons-hand;
}

.domain-buttons-all {
    grid-area: domain-buttons-all;
}

.repcontainer[data-groupname="repeating_domain"] {
    margin-top: 0px;
}

[data-groupname="repeating_domain"] .repitem {
    border-bottom: 1pt solid black;
}

[data-groupname="repeating_domain"] .repitem:has(> .toggle-domain[value="hidden"]) {
    display: none;
}

.domain-effect-inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "domain-effect-inputs-vaulted-toggle domain-effect-inputs-recall domain-effect-inputs-level domain-effect-inputs-domain"
    "domain-effect-inputs-name domain-effect-inputs-name domain-effect-inputs-used-toggle domain-effect-inputs-tokens-toggle";
    margin-bottom: 5px;
}

.domain-effect-inputs-vaulted-toggle {
    grid-area: domain-effect-inputs-vaulted-toggle;
    display: flex;
    align-items: center;
}

.chat-print {
    background-color: transparent;
    background-image: url(https://raw.githubusercontent.com/meyichi/roll20-daggerheart-sheet/refs/heads/master/Daggerheart_Chat_Bubble.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    border: none;
    padding: 0px;
}

.domain-effect-inputs-recall {
    grid-area: domain-effect-inputs-recall;
    display: flex;
    align-items: center;
}

.domain-effect-inputs-level {
    grid-area: domain-effect-inputs-level;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.domain-effect-inputs-domain {
    grid-area: domain-effect-inputs-domain;
}

.domain-effect-inputs-name {
    grid-area: domain-effect-inputs-name;
}

.domain-effect-inputs-used-toggle {
    grid-area: domain-effect-inputs-used-toggle;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.domain-effect-inputs-tokens-toggle {
    grid-area: domain-effect-inputs-tokens-toggle;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

input.toggle-used:not([value="active"]) ~ div.domain-effect-inputs-used-toggle > button.fake-checkbox > span.checked,
input.toggle-vaulted:not([value="active"]) ~ div.domain-effect-inputs-vaulted-toggle > button.fake-checkbox > span.checked,
input.toggle-shortrest:not([value="active"]) ~ div.domain-effect-tracker-shortrest-toggle > button.fake-checkbox > span.checked,
input.toggle-longrest:not([value="active"]) ~ div.domain-effect-tracker-longrest-toggle > button.fake-checkbox > span.checked,
input.toggle-session:not([value="active"]) ~ div.domain-effect-tracker-session-toggle > button.fake-checkbox > span.checked {
    color: transparent;
}

.domain-effect-tracker {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "domain-effect-tracker-label domain-effect-tracker-shortrest-toggle domain-effect-tracker-longrest-toggle domain-effect-tracker-session-toggle";
    margin-bottom: 5px;
}

.domain-effect-tracker-label {
    grid-area: domain-effect-tracker-label;
}

.domain-effect-tracker-shortrest-toggle {
    grid-area: domain-effect-tracker-shortrest-toggle;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.domain-effect-tracker-longrest-toggle {
    grid-area: domain-effect-tracker-longrest-toggle;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.domain-effect-tracker-session-toggle {
    grid-area: domain-effect-tracker-session-toggle;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

/* FEATURES STYLING */
.features-container {
    grid-area: features-container;
    padding-right: 3px;
}

.features-unique-header {
    margin-top: 5px;
}

.features-unique {
    padding-left: 20px;
}

.features-unique-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 5px;
}

input.features-unique-name-input {
    width: calc(42% - 5px);
}

textarea.features-small-textarea {
    width: calc(100% - 10px);
    height: 50px;
}

.features-class {
    padding-left: 20px;
}

textarea.features-big-textarea {
    width: calc(100% - 10px);
    height: 100px;
}

.features-class-inputs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "features-class-inputs-name features-class-inputs-name features-class-inputs-name features-class-inputs-used-toggle features-class-inputs-tokens-toggle features-class-inputs-chat-print";
    margin-bottom: 5px;
}

.features-class-inputs-name {
    grid-area: features-class-inputs-name;
}

.features-class-inputs-used-toggle {
    grid-area: features-class-inputs-used-toggle;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

input.toggle-used[value="hidden"] ~ div.features-class-inputs-used-toggle {
    display: none;
}

.features-class-inputs-used-toggle > span {
    height: 85%;
    display: flex;
    align-items: center;
}

.features-class-inputs-used-toggle > button {
    margin-left: 5px;
}

input.toggle-used:not([value="active"]) ~ div.features-class-inputs-used-toggle > button.fake-checkbox > span.checked {
    color: transparent;
}

input.toggle-tokens[value="hidden"] ~ div.features-class-inputs-tokens-toggle {
    display: none;
}

.features-class-inputs-tokens-toggle {
    grid-area: features-class-inputs-tokens-toggle;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.features-class-inputs-tokens-toggle > span {
    height: 85%;
    display: flex;
    align-items: center;
}

.features-class-inputs-tokens-toggle > input {
    margin-left: 5px;
}

.features-class-inputs-chat-print {
    grid-area: features-class-inputs-chat-print;
    display: flex;
    justify-content: flex-end;
}

input.toggle-used:not([value="hidden"]) ~ div.features-class-inputs-tokens-toggle {
    margin-left: 5px;
}

input.toggle-class1[value="hidden"] ~ div.features-class1,
input.toggle-class2[value="hidden"] ~ div.features-class2 {
    display: none;
}

.features-subclass-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "features-subclass-header-multiclass-toggle features-subclass-header-multiclass-dropdown"
    "features-subclass-header-specialized-toggle features-subclass-header-mastered-toggle";
}

.features-subclass-header > div > button,
.features-subclass-header > div > div > button {
    margin-left: 5px;
}

input.toggle-subclass-multiclass:not([value="active"]) ~ div.features-subclass-header > div.features-subclass-header-multiclass-toggle > button.fake-checkbox > span.checked,
input.toggle-subclass-specialized:not([value="active"]) ~ div.features-subclass-header > div.features-subclass-header-specialized-toggle > button.fake-checkbox > span.checked,
input.toggle-subclass-mastered:not([value="active"]) ~ div.features-subclass-header > div.features-subclass-header-mastered-toggle > div.features-subclass-header-mastered-toggle-container > button.fake-checkbox > span.checked,
input.toggle-multiclass-specialized:not([value="active"]) ~ div.features-subclass-header > div.features-subclass-header-mastered-toggle > div.features-subclass-header-multiclass-specialized > button.fake-checkbox > span.checked {
    color: transparent;
}

input.toggle-subclass-multiclass[value="inactive"] ~ div.features-subclass > div.features-subclass-multiclass-container,
input.toggle-subclass-specialized[value="inactive"] ~ div.features-subclass > div.features-subclass-specialization-container,
input.toggle-subclass-mastered[value="inactive"] ~ div.features-subclass > div.features-subclass-mastery-container,
input.toggle-multiclass-specialized:not([value="active"]) ~ div.features-subclass > div.features-subclass-multiclass-specialization-container {
    display: none;
}

input.toggle-subclass-multiclass[value="inactive"] ~ div.features-subclass-header > div.features-subclass-header-multiclass-dropdown,
input.toggle-subclass-multiclass[value="inactive"] ~ div.features-subclass-header >  div.features-subclass-header-mastered-toggle > div.features-subclass-header-multiclass-specialized,
input.toggle-subclass-multiclass[value="active"] ~ div.features-subclass-header > div.features-subclass-header-mastered-toggle > div.features-subclass-header-mastered-toggle-container {
    display: none;
}

.features-subclass-header-multiclass-toggle {
    grid-area: features-subclass-header-multiclass-toggle;
    display: flex;
    align-items:center;
    margin-top: 0px;
}

.features-subclass-header-multiclass-dropdown {
    grid-area: features-subclass-header-multiclass-dropdown;
    display: flex;
    align-items:center;
    margin-top: 0px
}

.features-subclass-header-specialized-toggle {
    grid-area: features-subclass-header-specialized-toggle;
    display: flex;
    align-items:center;
}

.features-subclass-header-mastered-toggle {
    grid-area: features-subclass-header-mastered-toggle;
    display: flex;
    align-items:center;
}

.features-subclass-header-mastered-toggle-container,
.features-subclass-header-multiclass-specialized {
    display: flex;
    align-items:center;
    margin-top: 0px;
}

.features-subclass-header-multiclass-toggle > span,
.features-subclass-header-specialized-toggle > span,
.features-subclass-header-mastered-toggle-container > span,
.features-subclass-header-multiclass-specialized > span {
    height: 85%;
}

input.toggle-used:not([value="active"]) ~ div.features-class-inputs-used-toggle > button.fake-checkbox > span.checked,
input.toggle-used:not([value="active"]) ~ div.features-subclass-inputs-used-toggle > button.fake-checkbox > span.checked {
    color: transparent;
}

input.toggle-used[value="hidden"] ~ div.features-subclass-inputs-used-toggle,
input.toggle-tokens[value="hidden"] ~ div.features-subclass-inputs-tokens-toggle {
    display: none;
}

.features-subclass {
    padding-left: 20px;
}

input.toggle-spellcasting-trait[value="hidden"] ~ div.features-subclass-spellcasting-container {
    display: none;
}

.features-subclass-spellcasting-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "features-subclass-spellcasting-label features-subclass-spellcasting-input";
    margin-bottom: 5px;
}

.features-subclass-spellcasting-label {
    grid-area: features-subclass-spellcasting-label;
    display: flex;
    align-items: center;
}

.features-subclass-spellcasting-input {
    grid-area: features-subclass-spellcasting-input;
}

.features-subclass-inputs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "features-subclass-inputs-name features-subclass-inputs-name features-subclass-inputs-name features-subclass-inputs-used-toggle features-subclass-inputs-tokens-toggle features-subclass-inputs-chat-print";
    margin-bottom: 5px;
}

.features-subclass-inputs-name {
    grid-area: features-subclass-inputs-name;
}

.features-subclass-inputs-used-toggle {
    grid-area: features-subclass-inputs-used-toggle;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.features-subclass-inputs-tokens-toggle {
    grid-area: features-subclass-inputs-tokens-toggle;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.features-subclass-inputs-chat-print {
    grid-area: features-subclass-inputs-chat-print;
    display: flex;
    justify-content: flex-end;
}

input.toggle-subclass-foundation1[value="hidden"] ~ div.features-subclass-foundation1,
input.toggle-subclass-specialization1[value="hidden"] ~ div.features-subclass-specialization1,
input.toggle-multiclass-foundation1[value="hidden"] ~ div.features-multiclass-foundation1,
input.toggle-multiclass-specialization1[value="hidden"] ~ div.features-multiclass-specialization1,
input.toggle-subclass-mastery1[value="hidden"] ~ div.features-subclass-mastery1 {
    display: none;
}

input.toggle-ancestry-mixed[value="hidden"] ~ div.features-ancestry-mixed-container {
    display: none;
}

.features-ancestry-mixed-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "features-ancestry-mixed-label0 features-ancestry-mixed-input0 features-ancestry-mixed-label1 features-ancestry-mixed-input1"
}

.features-ancestry-mixed-label0 {
    grid-area: features-ancestry-mixed-label0;
    display: flex;
    align-items: center;
}

.features-ancestry-mixed-input0 {
    grid-area: features-ancestry-mixed-input0;
    width: calc(100% - 10px);
    margin-left: 5px;
}

.features-ancestry-mixed-label1 {
    grid-area: features-ancestry-mixed-label1;
    display: flex;
    align-items: center;
}

.features-ancestry-mixed-input1 {
    grid-area: features-ancestry-mixed-input1;
    width: calc(100% - 10px);
    margin-left: 5px;
}

.features-ancestry-container {
    padding-left: 20px;
}

.features-ancestry-name-input {
    width: calc(50% - 5px);
    margin-bottom: 5px;
}

.features-ancestry-inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "features-ancestry-inputs-name features-ancestry-inputs-name features-ancestry-inputs-used-toggle features-ancestry-inputs-chat-print";
    margin-bottom: 5px;
}

.features-ancestry-inputs-name {
    grid-area: features-ancestry-inputs-name;
}

.features-ancestry-inputs-used-toggle {
    grid-area: features-ancestry-inputs-used-toggle;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

input.toggle-ancestry0-used[value="hidden"] ~ div.features-ancestry-inputs-used-toggle,
input.toggle-ancestry1-used[value="hidden"] ~ div.features-ancestry-inputs-used-toggle {
    display: none;
}

input.toggle-ancestry0-used:not([value="active"]) ~ div.features-ancestry-inputs-used-toggle > button.fake-checkbox > span.checked,
input.toggle-ancestry1-used:not([value="active"]) ~ div.features-ancestry-inputs-used-toggle > button.fake-checkbox > span.checked {
    color: transparent;
}

.features-ancestry-inputs-chat-print {
    grid-area: features-ancestry-inputs-chat-print;
    display: flex;
    justify-content: flex-end;
}

.features-community-container {
    padding-left: 20px;
}

.features-community-inputs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "features-community-inputs-name features-community-inputs-name features-community-inputs-name features-community-inputs-used-toggle features-community-inputs-tokens-toggle features-community-inputs-chat-print";
    margin-bottom: 5px;
}

.features-community-inputs-name {
    grid-area: features-community-inputs-name;
}

.features-community-inputs-used-toggle {
    grid-area: features-community-inputs-used-toggle;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.features-community-inputs-tokens-toggle {
    grid-area: features-community-inputs-tokens-toggle;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

input.toggle-used:not([value="active"]) ~ div.features-community-inputs-used-toggle > button.fake-checkbox > span.checked {
    color: transparent;
}

input.toggle-used[value="hidden"] ~ div.features-community-inputs-used-toggle,
input.toggle-tokens[value="hidden"] ~ div.features-community-inputs-tokens-toggle {
    display: none;
}

.features-community-inputs-chat-print {
    grid-area: features-community-inputs-chat-print;
    display: flex;
    justify-content: flex-end;
}

.inventory-container {
    background-image: url(https://raw.githubusercontent.com/meyichi/roll20-daggerheart-sheet/refs/heads/master/Daggerheart_Background_Inventory.png);
    background-repeat: no-repeat;
    margin: -10px;
    padding: 10px;
    padding-top: 2px;
}

.inventory-gold-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}

.inventory-gold-label {
    font-weight: bold;
    padding-right: 5px;
}

.inventory-header {
    padding-top: 4px;
}

.inventory-label {
    display: grid;
    grid-template-columns: repeated(12, 1fr);
    grid-template-areas: ". inventory-label-quantity inventory-label-item inventory-label-item inventory-label-item inventory-label-item inventory-label-item inventory-label-item inventory-label-item inventory-label-item inventory-label-item .";
}

.inventory-label-quantity {
    grid-area: inventory-label-quantity;
}

.inventory-label-item {
    grid-area: inventory-label-item;
}

.repcontainer[data-groupname="repeating_inventory"],
[data-groupname="repeating_inventory"] .repitem {
    margin-top: 0px;
}

.inventory-items-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: ". inventory-items-container-quantity inventory-items-container-name inventory-items-container-name inventory-items-container-name inventory-items-container-name inventory-items-container-name inventory-items-container-name inventory-items-container-name inventory-items-container-name inventory-items-container-name .";
}

.inventory-items-container-quantity {
    grid-area: inventory-items-container-quantity;
}

.inventory-items-container-name {
    grid-area: inventory-items-container-name;
}

/* DUALITY ROLL TEMPLATE STYLING */
.sheet-rolltemplate-duality {
    margin-left: -30px;
    background-color: white;
}

.sheet-rolltemplate-duality .sheet-duality-container {
    border: 2px solid black;
    padding: 5px;
    color: black;
}

.sheet-rolltemplate-duality h3 {
    color: black;
}

.sheet-rolltemplate-duality .sheet-duality-hope > .inlinerollresult {
    color: purple;
    background-color: yellow;
    border: 2px solid yellow;
}

.sheet-rolltemplate-duality .sheet-duality-fear > .inlinerollresult {
    color: yellow;
    background-color: purple;
    border: 2px solid purple;
}

.sheet-rolltemplate-duality .sheet-duality-trait > .inlinerollresult,
.sheet-rolltemplate-duality .sheet-duality-mod > .inlinerollresult {
    background-color: transparent;
    border: 2px solid transparent;
    pointer-events: none;
    padding: 0;
}

.sheet-rolltemplate-duality .sheet-duality-adv > .inlinerollresult {
    background-color: lightgray;
    border: 2px solid lightgray;
}

.sheet-rolltemplate-duality .sheet-duality-total > .sheet-total > .inlinerollresult {
    background-color: lightgray;
    border: 2px solid lightgray;
    pointer-events: none;
}

.sheet-rolltemplate-duality .sheet-duality-name {
    grid-area: sheet-duality-name;
    text-align: center;
    border-bottom: 2px solid black;
}

.sheet-rolltemplate-duality .sheet-duality-rolls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "sheet-duality-hope sheet-duality-fear sheet-duality-trait";
    margin-top: 10px;
}

.sheet-rolltemplate-duality .sheet-duality-hope {
    grid-area: sheet-duality-hope;
}

.sheet-rolltemplate-duality .sheet-duality-fear {
    grid-area: sheet-duality-fear;
}

.sheet-rolltemplate-duality .sheet-duality-trait {
    grid-area: sheet-duality-trait
}

.sheet-rolltemplate-duality .sheet-duality-modifiers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sheet-rolltemplate-duality .sheet-duality-mod {
    margin-top: 5px;
}

.sheet-rolltemplate-duality .sheet-duality-adv {
    margin-top: 5px;
}

.sheet-rolltemplate-duality .sheet-duality-total {
    margin: 5px 0;
}

.sheet-rolltemplate-duality .sheet-duality-condition {
    font-weight: bold;
}

.sheet-rolltemplate-duality .sheet-hope {
    text-shadow: 1px 1px 3px #ffff00;
}

.sheet-rolltemplate-duality .sheet-fear {
    text-shadow: 1px 1px 3px #800080;
}

/* DAMAGE ROLL TEMPLATE STYLING */
.sheet-rolltemplate-damage {
    margin-left: -30px;
    background-color: white;
}

.sheet-rolltemplate-damage .sheet-damage-container {
    border: 2px solid black;
    padding: 5px;
    color: black;
}

.sheet-rolltemplate-damage h3 {
    color: black;
}

.sheet-rolltemplate-damage .sheet-damage-name {
    text-align: center;
    border-bottom: 2px solid black;
}

.sheet-rolltemplate-damage .sheet-damage-message {
    margin-top: 7px;
}

.sheet-rolltemplate-damage .sheet-damage-total > .inlinerollresult {
    background-color: lightgray;
    border: 2px solid lightgray;
}

.sheet-rolltemplate-damage .sheet-damage-total {
    margin-top: 10px;
    margin-bottom: 5px;
}

/* PRINT DOMAIN ROLL TEMPLATE STYLING */
.sheet-rolltemplate-print-domain {
    margin-left: -30px;
    background-color: white;
}

.sheet-rolltemplate-print-domain .sheet-print-domain-container {
    border: 2px solid black;
    padding: 5px;
    color: black;
}

.sheet-rolltemplate-print-domain h3 {
    color: black;
}

.sheet-rolltemplate-print-domain .sheet-print-domain-name {
    text-align: center;
    border-bottom: 2px solid black;
}

.sheet-rolltemplate-print-domain .sheet-print-domain-details {
    margin-top: 5px;
}

.sheet-rolltemplate-print-domain .sheet-print-domain-description {
    margin-top: 5px;
    padding-left: 10px;
}

/* PRINT FEATURE ROLL TEMPLATE STYLING */
.sheet-rolltemplate-print-feature {
    margin-left: -30px;
    background-color: white;
}

.sheet-rolltemplate-print-feature .sheet-print-feature-container {
    border: 2px solid black;
    padding: 5px;
    color: black;
}

.sheet-rolltemplate-print-feature h3 {
    color: black;
}

.sheet-rolltemplate-print-feature .sheet-print-feature-name {
    text-align: center;
    border-bottom: 2px solid black;
}

.sheet-rolltemplate-print-feature .sheet-print-feature-description {
    margin-top: 5px;
}